<%- include('partials/header') %>

<!-- Include Font Awesome CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-car-side fa-5x"></i> <!-- Adjust the size of the icon using "fa-5x" or other size classes -->
    <h1 class="display-3">Vehicle Verification Management System</h1>
    <p class="lead">Defend your wheels, protect your investment, with the intelligent vehicle management and anti-theft tracking system</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register as RTO</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login as User</a>
  </div>
</div>

<%- include('partials/footer') %>